/* margin and padding is around the subject */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    /* make sure to put quotes around thing */
    background-image: url('cat_face.jpg');
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    /* allows control to user over element with cursor */
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.navbar ul li a{
    /* text deco is extra stuff */
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
/* ::after in association with element means this ruleset is applied after this is initialized */
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 100%;
    background: #009688;
    position: absolute;
}