* {
    font-family: 'BIZ UDPGothic', sans-serif;
    font-family: 'Ysabeau Office', sans-serif;
    /* Very important as it ensures there are no gaps. */
    margin: 0;
    padding: 0;
}
.banner{
    min-height: 100vh;
    width: 100%;
   
    background: linear-gradient(0deg, rgba(13,152,186,0.64) 0%, rgba(29,129,195,1) 100%);
    background-repeat: no-repeat;

    color: white;
}
.center{
    margin: auto;
    width: 60%;
    padding: 10px;
}
body, html {
    height: 100%;
  }
.parallax{
    /* The image used */
    background-image: url("maori-te-aro-flat1700x800.jpg");
    
    /* Full height */
    height: 100%;
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    /* ensures image does not repeat */
    background-repeat: no-repeat;
    background-size: cover;
}
#present-wellington{
    background-image: url("wellington-harbour-present.png");
   
    min-height: 100vh;
    background-size: auto;
    font-size: 100px;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
h2{
    color: white;
    font-size: large;
    
    text-align: center;
    /* position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; */
}
#content-page{
    min-height: 100vh;
    background: linear-gradient(0deg, rgba(26,158,149,0.54) 0%, rgba(29,129,195,1) 100%);
    background-repeat: no-repeat;
}
#left{
    /* TO DO:
     figure out how much left/right I want these to be */
    text-align: left;
    color: white;
    margin: 10px 10px 10px 10px;
    border: 1px solid #4CAF50;
}
#right #left{
    text-align: right;

    color: inherit;
    margin: inherit;  
    border: inherit;
}