* {
    font-family: 'BIZ UDPGothic', sans-serif;
    font-family: 'Ysabeau Office', sans-serif;
}
.class header{
    color: black;
    font-size: x-large;
}
.center{
    margin: auto;
    width: 60%;
    padding: 10px;
}
#past-wellington{
    margin: auto;
    padding: 0px 0px 0px 0px;
}
#present-wellington{
    margin: auto;
    padding: 0px 0px 0px 0px;
}
.content h2{
    color: black;
    font-size: large;
    margin: auto;
    width: 60%;
    padding: 10px;
}
